# Ignorar arquivos de ambiente
.env
*.env
.env.local
.env.development
.env.production
.env.test

# Ignorar arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar dependências do Python (caso use virtualenv)
venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Ignorar logs e arquivos temporários
*.log
*.sqlite3
*.db

# Ignorar caches do Jupyter Notebook
.ipynb_checkpoints/

# Ignorar arquivos do VSCode e PyCharm
.vscode/
.idea/

# Ignorar pacotes criados com setup.py
build/
dist/
*.egg-info/
